<h2>By Country</h2>
<hr>

<div class="row">
    <div class="col">
        <app-country-input 
            (onEnter)="search( $event )"
            (onDebounce)="suggest( $event )"
            placeholder="Search by country..."
        >
        </app-country-input>
    </div>
</div>

<hr>

<div *ngIf="hasError" class="alert alert-danger">
    Nothing found by {{ term }}
</div>

<div class="row">
    <div class="col">
        <app-country-table [countries]="countries"></app-country-table>
    </div>
</div>