<div class="animate__animated animate__fadeIn">
    <h2>By Country</h2>
    <hr>
    
    <div class="row">
        <div class="col">
            <app-country-input
                (onEnter)="search( $event )"
                (onDebounce)="suggest( $event )"
                placeholder="Search by country..."
            >
            </app-country-input>
        </div>
    </div>

    <div *ngIf="showSuggested" class="list-group">
        <button *ngFor="let country of suggestedCountries" type="button" class="list-group-item list-group-item-action">
            <a [routerLink]="['country', country.cca2]" class="nav-link">{{ country.name.common }}</a>
        </button>
        <button 
            *ngFor="let country of suggestedCountries" 
            type="button" 
            class="list-group-item list-group-item-action"
            (click)="searchSuggested( term )"
        >
            <a class="nav-link">Buscar "{{ term }}"</a>
        </button>
    </div>
    
    <hr>
</div>

<div *ngIf="hasError" class="alert alert-danger">
    Nothing found by {{ term }}
</div>

<div class="row">
    <div class="col">
        <app-country-table [countries]="countries"></app-country-table>
    </div>
</div>